name: Model Training CI Pipeline
on:
  push:
    branches: [ "main" ]
jobs:
  train-and-validate:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Check out repository code
        uses: actions/checkout@v4
      - name: 2. Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'



      - name: 5. Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-run-results
          path: mlruns/
